.bounceComponent{
    border:solid black 1px;
    border-radius: 5px;
    background: white;
    width:fit-content;
    padding:2rem;
    position: absolute;
   
    width:fit-content;
    height:fit-content;
   
}