.New {
  height: fit-content;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top:5rem;
  
 
}

.NewSplodoForm{
 


  background: white;
  margin: auto;

  gap:1rem;
  display:flex;
  flex-direction: column; 
  
 position:relative;
}




.NewSplodoForm .inputHeader {

  padding:0;
  margin:auto;
  width:100%;
  font-family: bernhard-gothic-urw, sans-serif;
  text-align: center;
  font-size: 2rem;
  border:solid black 1px;
  border-radius: 5px;
}

.NewSplodoForm .inputDesc {

  border:solid black 1px;
  border-radius:5px;
  height:5rem;
  width: 100%;
  margin:auto;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
  font-family: bernhard-gothic-urw, sans-serif;
}

.NewSplodoForm .submitBtn {
  padding: 1rem;
  background: white;
  border: solid black 1px;
  margin-top: 1rem;
  border-radius: 5px;
  margin:auto;
  width:fit-content;
  font-family: bernhard-gothic-urw, sans-serif;
}


.tagArea{
width: 100%;
margin: auto;
max-width: 22vw;

}

.newTagArea{
  width: 100%;
  display:flex;
  height:2rem;
}

.NewSplodoForm .tagName input {
  width: 5rem;
}

.tagName{
  width:25%;
  border:solid black 1px;
  border-radius: 5px;
  font-family: bernhard-gothic-urw, sans-serif;
  font-size: 0.75rem;
}

.tagValue{
  width:50%;
  border:solid black 1px;
  border-radius: 5px;
  font-family: bernhard-gothic-urw, sans-serif;
}

.divider{
  font-size: 1rem;
  margin:0;
  text-align: center;
  padding:0;
  vertical-align: middle;
  line-height: 2rem;
  margin-left:1rem;
  margin-right:1rem;
}

#newTagBtn{
  height:2rem;
  margin-left: auto;
  font-family: bernhard-gothic-urw, sans-serif;
  background:white;
  border:solid black 1px;
  border-radius: 5px;
  
}

.tagRemoveBtn{
  height:2rem;
  margin-left: auto;
  font-family: bernhard-gothic-urw, sans-serif;
  background:white;
  border:solid black 1px;
  border-radius: 5px;
}

