.About {

  margin: auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  
}

.infoArea {
  background: white;
  width:50%;
}

.About h1 {
  margin: 0;
  width: fit-content;
  margin: auto;
}

.About p {
  margin: auto;
  margin-top: 1rem;
}


@media screen and (max-width: 1104px) {
  .infoArea{
    width:75%;
    padding:2rem;
  }
}
