.containerCatSplodo {
  position: relative;
  width: 90%;
  margin: auto;
}

.arrowStyle {
  animation: none;
}

@keyframes arrowRotateUp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes arrowRotateDown {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.browseArea {
  height: 100%;
  width: 100%;
  margin: auto;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-bottom: 5rem;
  animation-duration: 0.3s;
  animation-name: slidein2;
}

@keyframes slidein2 {
  0% {
    width: 0px;

    opacity: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

.browseItem {
  height: 4rem;
  width: 100%;
  border: solid rgb(168, 168, 168) 2px;
  margin: auto;
  background: white;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  position: relative;
  filter: drop-shadow(0.5px 0.5px 1px rgb(124, 124, 124));
}

.browseItem:hover {
  background: rgb(240, 240, 240);
}

.browseItemContainer {
  height: fit-content;
  margin: auto;
  display: flex;
}

.browseItem h2 {
  margin: 0;
  font-size: 4rem;
}

.browseItem p {
  justify-self: end;
}

.folderContent {
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0);
}

.imageAndTitle {
  display: flex;
}

.folderContent img {
  height: 2rem;
  width: 2rem;
  margin: auto;
  margin-left: 1rem;
}
.folderContent h2 {
  display: flex;
  font-size: 1rem;
  margin: auto;
  margin-left: 1rem;

  width: fit-content;
}

.folderContent h3 {
  display: flex;
  font-size: 1rem;

  margin-left: auto;
  margin-right: 1rem;
}
.splodoListItemArea {
  display: relative;
  height: fit-content;
  position: absolute;
  width: 100%;
  margin: auto;
}
.splodoListItem {
  width: 90%;
  margin: auto;
  height: 3rem;
  overflow: hidden;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  transition: height 0.25s ease;
  background: rgb(255, 255, 255);
  position: relative;
  z-index: 4;
}

.splodoListItem a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

@media screen and (max-width: 480px) {
  .browseArea {
    grid-template-columns: 1fr;
  }
}

.browseAreaBtn {
  padding: 1rem;
  background: white;
  border: solid black 1px;
  margin-top: 1rem;
  border-radius: 5px;
  font-family: bernhard-gothic-urw, sans-serif;
}
