.IndividualSplodo {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top:0;
  background: rgb(255, 255, 255);
  display: flex;
}

.IndividualSplodo .Link {
  color: black;
  height: fit-content;
  margin: auto;
  margin-left: 0;
  text-decoration: none;
  height:100%;
  width:100%;
  position:absolute;
  display:flex;
}

