.Splodo {
  padding-top: 5rem;
}

.tag {
  height: 1.5rem;
  width: 3rem;
  background: rgb(27, 219, 27);
  border: solid black 1px;
  border-radius: 5px;
  margin: auto;
}

.SplodoContainer {
  background: white;
  margin: auto;
  animation: splodoAni forwards 2s;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  position: relative;
  max-width: 75%;
}

.wrapperCon {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
  padding: 0;
  margin: auto;
  gap: 1.5rem;
  animation-duration: 0.3s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    width: 0px;

    opacity: 0;
  }

  100% {
    opacity: 1;
    width: 90%;
  }
}

.dropdown {
  border: solid black 1px;
  border-radius: 5px;
  margin: auto;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.dropdownList {
  margin: 0;
  padding: 0;
  width: 100%;
  background: white;
  border: solid black 1px;
}

.splodoTitle {
  padding: 0;
  margin: auto;
  width: 100%;
  font-family: bernhard-gothic-urw, sans-serif;
  text-align: center;
  font-size: 2rem;
  border: solid black 1px;
  border-radius: 5px;
}

.splodoTitleChange {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: bernhard-gothic-urw, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.splodoDescChange {
  border: solid black 1px;
  border-radius: 5px;
  height: 5rem;
  width: 100%;
  margin: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: bernhard-gothic-urw, sans-serif;
}

.saveSplodo {
  width: fit-content;

  margin: auto;

  background: white;
  border: solid black 1px;
  border-radius: 5px;
  font-family: bernhard-gothic-urw, sans-serif;
  font-weight: 400;
}

.buttonArea {
  display: flex;
}

.iconArea {
  margin: auto;
  background: white;
  margin-top: 4rem;
  position: relative;
}

.iconArea img {
  width: 5rem;
  height: 5rem;
}

.iconCollection {
  height: 250%;
  width: 150%;
  position: absolute;
  background: rgb(255, 255, 255);
  border: solid black 2px;
  border-radius: 5px;
  z-index: 4;
  margin: auto;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.choiceIcon {
}

.choiceIconImg {
  width: 10rem;
  height: 10rem;
}
